@tailwind base;
@tailwind components;
@tailwind utilities;

.registerForm::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

::-webkit-scrollbar {
    display: none;
}



.registerForm::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
}